body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #F6F6F4;
}


/* ------Header styling starts here----- */
.hamburger,
.close {
    font-size: 2rem;
    color: #2E3134;
}

header {
    margin: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2E3134;
    text-transform: uppercase;
    overflow: hidden;
}

.identity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerlogo {
    max-width: 60%;

}

nav {
    background-color: #F6F6F4;
    position: absolute;
    /* a higher z-index put navbar above hamburger */
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* style the bar in one cell and the close button in the other */
    display: flex;
    justify-content: space-between;
    text-align: center;

    /* animate slide up/down */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

nav:target {
    transform: translateY(0);
}


nav a {
    color: #2E3134;
    text-decoration: none;
    display: block;
    padding: 1rem 1rem 0rem 1rem;
    text-align: start;


}

.close {
    color: #2E3134;
}

nav a:hover {
    color: #F3BA64;

}


@media (min-width: 900px) {
    header {
        margin: 1rem auto;

    }

    .identity {
        margin-bottom: -120px;
    }

    .headerlogo {
        display: none;
    }

    nav {
        margin-top: 5%;
        background-color: transparent;
        padding: 0;
        position: static;
        height: auto;
        transform: translateY(0);
        border: red 2px solid;

    }

    .hamburger,
    .close {
        display: none;
    }

    nav ul {
        flex-flow: row wrap;
        justify-content: center;
    }

    .home {
        display: none;
    }

    nav a {
        color: #2E3134;
    }

    nav a:hover {
        color: #F3BA64;
    }

    nav span::before {
        content: "\a";
        white-space: pre;
    }
}

/* -----Footer styling stars here----- */

footer {
    background: #B09D78;
    padding-left: 30px;
    padding-top: 10px;
    overflow: hidden;
}

.footer-links {
    font-weight: 400;
    letter-spacing: 1.5px;
}

.container-socialmedia {
    display: flex;
    gap: 5%;
    margin: 30px 0px 30px 0px;
}

input {
    margin: 10px 10px 10px 0px;
    padding: 15px;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 4px 4px 10px rgba(39, 36, 31, 0.781);
    width: 93%;
    border: 0;
}

.container-email,
.container-submit {
    text-align: center;
    margin-right: 15px;
    width: 88%;
}


.button-subscribe {
    width: 100%;
    background-color: #2E3134;
    color: #F6F6F4;
    text-transform: uppercase;
    border: 0;
}

@media (min-width: 900px) {
    footer {
        display: flex;
    }

    .container-socialmedia {
        order: 3;
        flex-grow: 3;
        justify-content: end;
        margin-right: 5%;
    }

    .container-subscribe-newsletter {
        justify-content: center;
    }

    .container-email {
        width: 86%;
    }

    .container-links {
        margin-right: 5%;
    }

}