body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #F6F6F4;
}

h1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 70%;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
    color: #40454A;
    background-color: #F6F6F4;
    padding-top: 1rem;
    padding-left: 30px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;

}

h4 {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: 2.25rem;
    text-decoration: underline;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}



p {
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
}


/* ------Header styling starts here----- */
.hamburger,
.close {
    font-size: 2rem;
    color: #2E3134;
}

header {
    margin: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2E3134;
    text-transform: uppercase;
    overflow: hidden;
}

.identity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerlogo {
    max-width: 60%;

}

nav {
    background-color: #F6F6F4;
    position: absolute;
    /* a higher z-index put navbar above hamburger */
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* style the bar in one cell and the close button in the other */
    display: flex;
    justify-content: space-between;
    text-align: center;

    /* animate slide up/down */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

nav:target {
    transform: translateY(0);
}


nav a {
    color: #2E3134;
    text-decoration: none;
    display: block;
    padding: 1rem 1rem 0rem 1rem;
    text-align: start;


}

.close {
    color: #2E3134;
}

nav a:hover {
    color: #F3BA64;

}

.figure-logo {
    display: none;
}


@media (min-width: 900px) {
    header {
        margin: 1rem auto;

    }

    .identity {
        margin-bottom: -120px;
    }

    .headerlogo {
        display: none;
    }

    nav {
        margin-top: 5%;
        background-color: transparent;
        padding: 0;
        position: static;
        height: auto;
        transform: translateY(0);


    }

    .hamburger,
    .close {
        display: none;
    }

    nav ul {
        flex-flow: row wrap;
        justify-content: center;
    }



    nav a {
        color: #2E3134;
    }

    nav a:hover {
        color: #F3BA64;
    }

    nav span::before {
        content: "\a";
        white-space: pre;
    }
}

/* -----Main styling starts here----- */

/* -----Heading container styling starts here----- */

.heading-container {
    position: relative;
}

.header-image {
    object-fit: cover;
    width: 100%;
    max-height: 35rem;
}

/* h1 {
    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 70%;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
    color: #40454A;
    background-color: #F6F6F4;
} */

.header-p {
    font-style: italic;
    margin-bottom: 4.5rem;
    margin-top: 2rem;
    margin-left: 30px;
}

@media (min-width: 900px) {
    .header-p {
        margin-right: 20%;
    }

}

/* -----News and happenings grid----- */
.news-container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

img,
picture {
    max-width: 100%;
    display: block;
}

.news-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.news-image {
    display: grid;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.news-image>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card {
    margin-bottom: 1rem;

}

.news-content {
    /* background: rgba(170, 63, 63, 0.217); */
    align-self: end;

}


/* -----Visit page styling----- */

.visit-container {
    display: flex;
    flex-direction: column;

}

.item {
    margin: 5px;
    border: solid 2px pink;

}

.map-item,
.wider-item {
    object-fit: fill;
}

.wider-item {
    flex: 1;
    justify-content: center;
}



@media (min-width: 900px) {
    .visit-container {
        flex-direction: row;
        margin: 5rem;
        gap: 30px;
        flex-wrap: wrap;


    }

    .visit-container :nth-child(1) {
        order: 1;
        flex: 1 0 100%;
    }

    .visit-container :nth-child(2) {
        order: 3;
        flex: 0 1 50%;

    }

    .visit-container :nth-child(3) {
        order: 2;
    }

    .visit-container :nth-child(4) {
        order: 5;
        flex: 1;
    }

    .visit-container :nth-child(5) {
        order: 4;
        flex: 1 0 100%;

    }



}



.visit-img {
    object-fit: cover;

}

.button-buy {
    width: 100%;
    background-color: #2E3134;
    color: #F6F6F4;
    text-transform: uppercase;
    border: 0;
}

.bold {
    font-weight: bold;
}

/* -----Explore styling stars here----- */



.explore-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));


    grid-template-rows: 350px 350px 350px;
    /*set the width you want*/
    grid-gap: 5%;

    border: solid blue 5px;

}



.text-block {
    position: absolute;
    bottom: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}



/* Container holding the image and the text */
.explore-card {

    position: relative;
    border: red solid 2px;

}

.explore-img {
    height: 100%;
    width: 100%;
    /* order: -1; */
    object-fit: cover;

}


/* -----Footer styling stars here----- */

footer {
    background: #B09D78;
    padding-left: 30px;
    padding-top: 10px;
    overflow: hidden;
}

.footer-links {
    font-weight: 400;
    letter-spacing: 1.5px;
}

.container-socialmedia {
    display: flex;
    gap: 5%;
    margin: 30px 0px 30px 0px;
}

input {
    margin: 10px 10px 10px 0px;
    padding: 15px;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 4px 4px 10px rgba(39, 36, 31, 0.781);
    width: 93%;
    border: 0;
}

.container-email,
.container-submit {
    text-align: center;
    margin-right: 15px;
    width: 88%;
}


.button-subscribe {
    width: 100%;
    background-color: #2E3134;
    color: #F6F6F4;
    text-transform: uppercase;
    border: 0;
}

@media (min-width: 900px) {
    footer {
        display: flex;
    }

    .container-socialmedia {
        order: 3;
        flex-grow: 3;
        justify-content: end;
        margin-right: 5%;
    }

    .container-subscribe-newsletter {
        justify-content: center;
    }

    .container-email {
        width: 86%;
    }

    .container-links {
        margin-right: 5%;
    }

}